* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #576f97;
  color: white;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed to ensure the navbar is above other content */
  height: 70px;
  background-color: #7e8db1; /* Adjust background color and opacity as needed */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 2px solid rgba(87, 111, 151); /* Adjust border color and opacity as needed */
}


.logo {
  background-image: url("/static/img/BTD logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 90px;
  margin-top: 20px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.list li a {
  text-decoration: none;
  color: white;
  transition: .3s ease;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}

.list li a:hover {
  background-color: rgba(87, 111, 151, 0.3); /* 30% opacity */
  color: #7e8db1;
}

.list li a.working {
  color: black;
}

.list li a.working:hover {
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: rgba(87, 111, 151, 0.3) url('/static/img/bg_btd_new.png') no-repeat center center/cover;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 2rem;
  margin-top: 1rem;
}

.button {
  color: white;
  font-weight: bold;
  font-size: 24px; /* Increased font size */
  padding: 15px 30px; /* Increased padding */
  margin-top: 30px;
  background: #7e8db1;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s, box-shadow 0.3s;
}

.button:hover {
  background: #293c68;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

.details {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  justify-content: center; /* Center cards horizontally */
}

.card-container {
  display: flex; /* Use flexbox to align cards horizontally */
  justify-content: space-between; /* Distribute space between cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  margin-bottom: -20px;
}

.card {
  flex: 0 0 calc(33.33% -10px); /* Adjust width to fit three cards in a row */
  max-width: 300px;
  margin-bottom: 5px; /* Add margin between cards */
  background: linear-gradient(to bottom right, #7e8db1, #576f97);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h1 {
  color: black;
  margin-bottom: 10px;
}

.card h5, .card p {
  color: white;
  margin-bottom: 10px;
}

.button-container {
  text-align: center; /* Center align the Detect button */
  margin-top: 20px; /* Add space between cards and button */
}



@media (min-width: 768px) {
  .details {
      flex-direction: row;
      justify-content: space-around;
  }

  .hero .title {
      font-size: 6rem;
  }

  .hero .subtitle {
      font-size: 3rem;
  }
}
